{
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:recommended",
    "plugin:import/recommended"
  ],
  "rules": {
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": true,
      "node": true
    }
  }
}
