/* Tree structure styles */
.tree-container {
  position: relative;
}

.tree-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.tree-container li {
  position: relative;
  margin: 0;
  padding: 0;
}

/* Vertical line for each li */
.tree-container li::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgb(100, 100, 100);
}

/* Horizontal line connecting to parent */
.tree-container li::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 10px;
  width: 20px;
  height: 1px;
  background-color: rgb(100, 100, 100);
}

/* Remove vertical line for last child */
.tree-container li:last-child::before {
  height: 10px;
}

/* Remove horizontal line for root items */
.tree-container > ul > li::after {
  display: none;
}
