name: Build and Test

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

# Run linting and formatting checks first, then run tests and builds
# This ensures we don't waste CI resources on invalid commits

env:
  NODE_VERSION: '24'
  PNPM_VERSION: '10'

permissions:
  contents: read # access to check out code and install dependencies

jobs:
  lint-and-format:
    name: Lint & Format Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          pnpm-version: ${{ env.PNPM_VERSION }}
          node-version: ${{ env.NODE_VERSION }}

      - name: Check lint & formatting
        run: pnpm biome ci .


  tests-unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: [lint-and-format]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          pnpm-version: ${{ env.PNPM_VERSION }}
          node-version: ${{ env.NODE_VERSION }}

      - name: Run unit tests with coverage report
        run: pnpm test:coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  build:
    name: Build Verification
    runs-on: ubuntu-latest
    needs: [lint-and-format, tests-unit]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          pnpm-version: ${{ env.PNPM_VERSION }}
          node-version: ${{ env.NODE_VERSION }}

      - name: Build application
        run: pnpm build
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  tests-e2e:
    name: E2E Tests (${{ matrix.browser }})
    runs-on: ubuntu-latest
    needs: [lint-and-format, build]
    strategy:
      matrix:
        browser: [chrome, firefox]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          pnpm-version: ${{ env.PNPM_VERSION }}
          node-version: ${{ env.NODE_VERSION }}

      - name: Build application
        run: pnpm build

      - name: Build application
        run: pnpm --allow-build=cypress add --save-dev cypress
      
      - name: Run Cypress Tests (${{ matrix.browser }})
        uses: cypress-io/github-action@v6
        with:
          start: pnpm preview
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 60
          command: pnpm run test:e2e:${{ matrix.browser }}
        env:
          CI: true
